{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script>
    // Stocker le token si présent dans l'URL
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    if (token) {
        localStorage.setItem('jwtToken', token);
        // Nettoyer l'URL
        window.history.replaceState({}, document.title, window.location.pathname);
    }
</script>
{% endblock %}

{% block title %}Dashboard Admin - LUCAR Simracing{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Dashboard Administrateur</h1>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <p class="card-text">Gérer les utilisateurs</p>
                    <a href="#" class="btn btn-primary">Voir les utilisateurs</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Réservations</h5>
                    <p class="card-text">Gérer les réservations</p>
                    <a href="#" class="btn btn-primary">Voir les réservations</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Messages</h5>
                    <p class="card-text">Voir les messages de contact</p>
                    <a href="#" class="btn btn-primary">Voir les messages</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 