<nav class="nav">
    <div class="container nav-content">
        <div class="nav-logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo.png') }}" alt="LUCAR">
            </a>
        </div>
        
        <div class="nav-links">
            <a href="{{ path('app_home') }}" class="nav-link {% if app.request.get('_route') == 'app_home' %}active{% endif %}">Home</a>
            <a href="#" class="nav-link">Inscription</a>
            <a href="#" class="nav-link">Reservation</a>
            <a href="#" class="nav-link">DIY part</a>
            <a href="#" class="nav-link">Devis</a>
            <a href="#" class="nav-link">Contact</a>
            <a href="#" class="nav-link">Avis</a>
        </div>

        <div class="nav-icons">
            <a href="{{ path('admin_login') }}" class="nav-link">
                <i class="fas fa-user"></i>
            </a>
            <a href="#" class="nav-link">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</nav> 