{% extends 'base.html.twig' %}

{% block title %}Mes Commandes - LUCAR Simracing{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Mes Commandes</h1>
    
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>Mes commandes apparaîtront ici.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 